<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../controllers/player-vs-com.js"></script>
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Reversi-Game</title>
</head>
<body>
    <div id="boardGames" class="boardBackground"></div>
    <div id="initCoin"></div>
    <div class="statistic">
        <h1>Game Statistic</h1>
    </div>
    <div id="score">Black: 2 White: 2</div>
</body>
</html>